<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
   </script>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Fav Icon -->
  <link rel="shortcut icon" href="favicon.ico?" type="image/x-icon">

  <!-- og tags -->
  {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
  {% else %}
    <meta property="og:title" content="Felipe Caputo Blog">
  {% endif %}

  {% if page.image %}
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:image:url" content="{{ page.image }}">
  {% else %}
    <meta property="og:image" content="/assets/title.png">
  {% endif %}

  {% if page.description %}
    <meta property="og:description" content="{{ page.description }}">
  {% else %}
    <meta property="og:description" content="A website for discussions on personal projects and whatnot, mostly about computer graphics.">
  {% endif %}

  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

 <!-- twitter tags -->
 <meta name="twitter:title" content="Felipe Caputo Blog">

</head>
